/*CSS RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*UTILITY*/

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

/*HEADER*/

.navbar {
    height:60px;
    width: 100%;
    background-color: orange;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.navbar > .shop-target , .logo-header , .shop-icons {
 width: calc(100% / 3);
 display: flex;
 justify-content: center;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
}

.navbar ul li{
    padding: 0 20px;
}

.logo-header img{
    height: 50px;
}

.shop-icons i {
    height: 50%;
    color: white;
    padding: 15px;
    text-align: end;
}


/*main*/

.wrapper {
    margin: 0 auto;
    width: 90%;
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card{
    width: calc(100% / 3 - (40px / 3));
    position: relative;
}

.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .hover-img{
    display: block;
}

img{
    width: 100%;
}

/*Debug
.card{
    height: 300px;
    background-color: salmon;
}
*/