/*CSS RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*UTILITY*/
body{
    font-family: "Roboto Condensed", sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.label-container{
    position: absolute;
    bottom: 100px;
    left: 0px;    
    width: 40%;
}

.heart-label{
    position: absolute;
    color: black;
    background-color: white;
    padding: 20;
    right: 0;
    top: 20px;
    padding: 8px;
}

.label{
    padding: .3rem;
    margin-right: 5px;
}

.label-discount{
    background-color: red;
}

.label-sustable{
    background-color: green;
}

/*HEADER*/

.navbar {
    height:60px;
    width: 100%;
    background-color: orange;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.navbar > .shop-target , .logo-header , .shop-icons {
 width: calc(100% / 3);
 display: flex;
 justify-content: center;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
}

.navbar ul li{
    padding: 0 20px;
}

.logo-header img{
    height: 50px;
}

.shop-icons i {
    height: 50%;
    color: white;
    padding: 15px;
    text-align: end;
}

/*main*/

.wrapper {
    margin: 0 auto;
    width: 90%;
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card{
    width: calc(100% / 3 - (40px / 3));
    position: relative;
    margin-bottom: 100px;
}

.alternative-img{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .alternative-img{
    display: block;
}

.heart-label:hover {
    color: red;
}

img{
    width: 100%;
}

 .card h6{
    font-size: 20px;
}

.price{
    color: red;
    font-weight: 800;
}

.old-price{
    color: black;
    text-decoration:line-through;
}


footer{
    background-color: rgb(19, 19, 19);
    color: white;
}

.footer-wrap{
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}